body {
    font-family: Arial;
    text-align: center;
    margin-top: 40px;
}

button {
    padding: 10px 25px;
    font-size: 18px;
    margin-top: 10px;
    cursor: pointer;
}

#result {
    margin-top: 20px;
    font-size: 20px;
    font-weight: bold;
}